### Transforming Code into Idiomatic Python
- Replace traditional index manupulation with Pyhon core looping idomatic

In [1]:
# Looping over a range of numbers - Traditional Approach
for i in [0,1,2,3,4,5]:
    print(i**2,end=" ")

0 1 4 9 16 25

In [3]:
#Idiomatic Programming 
for i in range(6):
    print(i**2,end=" ")

0 1 4 9 16 25

### Looping over a collection

In [8]:
colors=['red','green','yellow','purple']
for i in range (len(colors)):
    print(colors[i],end=" ")

red green yellow purple

In [7]:
for color in colors:
    print(color,end=" ")

red green yellow purple

### Looping backwards

In [9]:
colors=['red','green','yellow','purple']
for i in range (len(colors)-1,-1,-1):
    print(colors[i],end=" ")

purple yellow green red

In [10]:
for color in reversed (colors):
    print(color,end=" ")

purple yellow green red

### Looping in sorted list

In [11]:
colors=['red','green','yellow','purple']
for color in sorted(colors):
    print(color,end=" ")

green purple red yellow

In [13]:
colors=['red','green','yellow','purple']
for color in sorted(colors,reverse=T<rue):
    print(color,end=" ")

yellow red purple green

### Pandas

In [5]:
import pandas as pd

In [6]:
dt = {'Id':[11,12,13,14,15],
     'first_name':['A','B','C','D','E'],
     'company':['aa','bb','cc','dd','ee'],
     'address':['Hyd','Hyd','Hyd','Hyd','Hyd']}
mydt = pd.DataFrame(dt)

In [7]:
print(mydt)

   Id first_name company address
0  11          A      aa     Hyd
1  12          B      bb     Hyd
2  13          C      cc     Hyd
3  14          D      dd     Hyd
4  15          E      ee     Hyd

In [8]:
import os

In [21]:
os.chdir("C:\\Users\\231")

In [19]:
mydt.to_csv('WorkingFile.csv',index = False)

In [20]:
pwd

'C:\\Users\\231'

### Reading the data from CSV file

In [23]:
mydata = pd.read_csv('WorkingFile.csv')

In [24]:
print(mydata)

   Id first_name company address
0  11          A      aa     Hyd
1  12          B      bb     Hyd
2  13          C      cc     Hyd
3  14          D      dd     Hyd
4  15          E      ee     Hyd

In [25]:
mydata = pd.read_csv('WorkingFile.csv',skiprows=[1,2,3],
                     names=["CustId","Name","Company","Address"])

In [26]:
print(mydata)

  CustId        Name  Company  Address
0     Id  first_name  company  address
1     14           D       dd      Hyd
2     15           E       ee      Hyd

In [ ]:
###Print Only Two Columns
###Print the large value from CustID column
###Print the least value from CustID column